html {
    background-color: #000000;
    padding: 0px;
    scroll-behavior: smooth;
}
body {
    width: 60%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    background-color: #000000;
    color: #57c92d;
    font-family: 'Inconsolata', monospace;
    font-size: 12px;
}
div {
    text-align: center;
}
a:link, a:visited {
  color: #156698;
  background-color: transparent;
  text-decoration: none;
}
a:hover, a:active {
  color: #156698;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
}

.big {
  font-size: 20px;
}

.blink {
    animation: blink 1s steps(1, end)
      infinite;
  }
  
  @keyframes blink {
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
